services:
  - type: web
    name: swiftconvert
    env: node
    plan: free
    buildCommand: npm install && npm run build
    startCommand: npm start
    routes:
      - path: /
        destination: /
    envVars:
      - key: NODE_ENV
        value: production
      - key: PORT
        value: 3001
    staticPublicPath: dist
